<h1 style="font-size:1.3em;">{{ passage_title }} - {{ date_string }}</h1>
<div class="before">
<p>Pray before you read - ask God for his help as you read his Word.</p>
</div>
<div class="passage" style="margin-left:1em;">
{{ text }}
</div>
<hr/>
<div class="extranotes">
<h2>What Next?</h2>
<p><em>Pray.</em> Ask God to let his living Word change you. Pray for increased understanding of who he is and what he has done and obedience of what he commands.</p>
<p><em>Discuss.</em> Discuss this passage and ask questions using the dedicated <a target=”_blank” href="{{ facebook_link }}">facebook page</a>. Or discuss it with your DG group, home group or SKG group or with anyone you like.</p>
</div>
<hr/>
<div class="feedback">
<p>If you have any questions about this reading plan contact <a target=”_blank” href="mailto:phil@christchurchmayfair.org">Phil Allcock</a>.</p>
<p>If you have any technical problems with this email contact <a target=”_blank” href="mailto:tom@christchurchmayfair.org">Tom Duckering</a>.</p>
<p>You can unsubscribe at any time using the links at the bottom of this email.</p>
</div>
<hr/>
<div class="niv_copyright_notice" style="font-size:0.8em;font-style:italic">
<p>Scripture quotations taken from the Holy Bible, New International Version Anglicised Copyright &copy; 1979, 1984, 2011 Biblica</p>
<p>Used by permission of Hodder & Stoughton Ltd, an Hachette UK company</p>
<p>All rights reserved.</p>
<p>&quot;NIV&quot; is a registered trademark of Biblica UK trademark number 1448790.</p>
</div>